{% include "base.html" %}
<body>
    <h1>Hello!</h1>

    {% if errors %}
		<ul>
			{% for error in errors %}
			<li>{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}
    <form action="" method="POST">
		<table>
            {{ form.as_table }}
        </table>
        {% csrf_token %}
       <p><input type="submit" value="Add Course" name="add_course"></p>
        <input type="submit" value="Save Semester" name="save_semester">
	</form>

    <h3>Courses Taken</h3>
    {% for c in courses %}
        <a class="btn btn-primary btn-sm" role="button">{{ c }}</a><br>
    {% endfor %}
    <p>Credit Hours Taken: {{ credit }}/18</p>



{#    <a href="{% url 'myapp:mypage' %}">Click here</a>#}
</body>