{% include "base.html" %}
<body>
	<h1>Let's get started.</h1>
	<p>Select a semester.</p>
	
	<table style="width:100%">
		<tr>
			<td><p><a href="/selection">Semester 1</a>:
                {% for c in courses %}
                    {{ c }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
				<td><p>Semester 2</p></td></tr>
			
		<tr><td><p>Semester 3</p></td>
			<td><p>Semester 4</p></td></tr>
			
		<tr><td><p>Semester 5</p></td>
			<td><p>Semester 6</p></td></tr>
			
		<tr><td><p>Semester 7</p></td>
			<td><p>Semester 8</p></td></tr>
	</table>
	
	<p><a class="btn btn-default btn-sm" href="#" role="button">Save your plan</a></p>
	<p><a class="btn btn-default btn-sm" href="#" role="button">Print your plan</a></p>
</body>